body {
    font-size: 0.8rem;
}

ul {
    list-style: none;
}

.pagination {
    justify-content: center;
}

.bdarkgreen {
    font-weight: bold;
    color: #00b894;
}

.bdarkblue {
    font-weight: bold;
    color: #6c5ce7!important;
}

.breadcrumb {
    margin-top: 10px;
    background-color: #f8f9fa;
}

.hoverable-tr:hover {
    cursor: pointer;
}

.dropdown-item {
    font-size: 0.7rem;
}

dl>dt {
    color: #2d3436;
}

dl>dd {
    color: #636e72;
}

input.search-form, input.search-form::-webkit-input-placeholder {
    font-size: 0.8rem;
}

.brand-search-trash {
    font-size: 0.9rem;
    color: #e84393;
}

.product-main-thumbs img {
    margin-bottom: 2px;
}

.card-title {
    font-size: 0.9rem;
}

.big-part-name {
    font-weight: 600;
}

.add-product-icon {
    color: #007bff;
    cursor: pointer;
}

.color-success {
    color: #28a745;
}

/* flex for product small images */

.product-image-container {
    display: flex;
    flex-wrap: wrap;
     /* justify-content: center; */
}

.product-image-item {
    padding: 0.5rem;
    flex: auto;
    justify-content: center;
    border: 1px solid #e8439322;
    border-radius: 1px;
    margin:2px;
    flex-grow: 0;
}

.product-image-image {
    width: 150px;
    height: 150px;
    display:block;
    margin:auto;
}

.product-image-footer {
    padding: 0.5rem 1rem 0 1rem;
}
.product-video-container {
    display: flex;
    justify-content: center;
}
.product-video-item {
    flex: auto;
}
.bottom-border {
    padding-bottom: 0.5rem!important;
    border-bottom: 1px solid  rgba(60,60,60,.26);;
}

.product-video-icon {
    color: #e84393;
    padding-right: 1rem;
}