{% extends 'product/base-forms.html' %}
{% load static %}
{% block page_title %}Список Товаров{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Custom elements start here -->
    <section class="content" id="app-list">
        <div class="container-fluid">
            <div class="row pt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body  p-2" style="height: 100%;">
                            <table id="product-list" class="table table-head-fixed" data-toggle="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Del</th>
                                        <th data-sortable="true">Название</th>
                                        <th data-sortable="true">Параметры</th>
                                        <th data-sortable="true">Категория</th>
                                        <th>Кат Номер</th>
                                        <th>Бренд</th>
                                        <th>1C ID</th>
                                        <th>Модель</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td><a href="{% url 'product-detail' object.pk %}">{{ object.pk }}</a></td>
                                        <td><i @click="deleteProduct('{{ object.id }}')"
                                                class="far fa-trash-alt product-trash"></i></td>
                                        <td>
                                            <a href="{% url 'product-detail' object.pk %}">{{ object.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'product-detail' object.pk %}">{{ object.name2 }}</a>
                                        </td>
                                        <td>
                                            {% for cat in object.category.all %}
                                            <div class="model-bage-purple">{{ cat }}</div>
                                            <br>{% endfor %}
                                        </td>
                                        <td>{{ object.cat_number }}</td>
                                        <td>{{ object.brand|upper }}</td>
                                        <td>{{ object.one_c_id }}</td>
                                        <td>{% for mod in object.car_model.all %}
                                            <span class="model-bage-green">{{ mod.name }}</span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Custom elements ends here -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block js %}
<script src="{% static 'js/product_list_vue.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#product-list').DataTable({
            "pageLength": 100,
            "order": [[1, "asc"]]
            //paging: false
        });
    });
</script>
{% endblock %}